<!DOCTYPE html>
<html>
<head>
<title>Login Page</title>
<link rel="stylesheet" href="/style/style.css">
</head>
<body>
	<div class="container">
		<h1>Login Page</h1>
		<div class="form-container">
			<form action="/userpage" method="post">
				<input type="email" placeholder="Email" name="email" required><br>
				<input type="password" placeholder="Password" name="password"
					required><br>
				<br>
				<button class="button" type="submit">Login</button>
			</form>
			<p>
				Don't have an account? <a href="/register">Register</a>
			</p>
		</div>
	</div>
</body>
</html>
